[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/daimaqiao/Ghost-Casper-Bridge.git
	branch = bridge
[submodule "core/client"]
	path = core/client
	url = https://github.com/daimaqiao/Ghost-Admin-Bridge.git
	branch = bridge
